.productsContainer{
    padding: 80px 35.5px 80px 35.5px;
    text-align: center;
}

.labelContainer{
    margin-bottom: 24px;
}

.productsListContainer{
    padding: 8px 0px 2px 0px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 290px;
    margin: auto;
    margin-bottom: 30px;
}

.cardContent{
    height: 162px;
    padding: 25px 25px 35px 25px !important; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardMedia{
    height: 360px;
    object-fit: cover;
}

.priceContainer{
    display: flex;
    justify-content: center;
}

.originalPrice{
    margin-right: 5px !important;
}

.loadButton{
    width: 260px;
    height: 52px;
}
.featuredLabel {
    display: none;
}
.labelContainer :global(.MuiTypography-root) {
    margin-bottom: 10px;
}
.labelContainer :global(.MuiTypography-root):last-child {
    margin-bottom: 0px;
}

@media screen and (min-width: 1440px) {
    .productsContainer{
        padding: 80px 0px;
        text-align: center;
        width: 1124px;
        margin: auto;
    }
    .featuredLabel {
        display: block;
    }
    .productsListContainer{
        padding: 36px 44.5px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }
    .card{
        width: 183px;
        margin: 0px;
        margin-right: 30px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    .card:nth-child(5n){
        margin-right: 0px;
    }
    .card:nth-last-child(-n+5){
        margin-bottom: 0px;
    }

    .cardMedia{
        height: 238px;
    }

    .labelContainerProductPage {
        text-align: left;
    }

    .labelContainerProductPage :global(.MuiDivider-root) {
        margin-top: 24px;
    }
}