.headerRoot {
    height: 104px;
    display: flex;
    padding: 23px 35px 23px 35px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
}

.brandNameContainer {
    height: 58px;
    width: 187px;
    padding: 13px 0px 13px 0px;
}

.iconContainer {
    display: flex;
    align-items: center;
    width: 155px;
    justify-content: space-between;
}

.headerBanner {
    display: none;
}

.actionsContainer{
    display: flex;
    align-items: center;
}

.actionsContainerAlt{
    display: flex;
}

@media screen and (min-width: 1440px){
    .iconContainer {
        justify-content: end;
        width: auto;
    }
    .iconContainer :global(path) {
        fill: #23A6F0;
    }
    .iconContainer :global(.MuiTypography-caption) {
        color: #23A6F0;
    }

    .brandNameContainer {display: flex;
        height: auto;
        padding: 13px 79px 13px 0px;
        width: auto;
        cursor: pointer;
    }
    .headerBanner {
        display: flex;
        background-color: #23856D;
        padding: 9px 26px 3px 26px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }
    .headerRoot {
        position: static;
        padding: 0px 17px 0px 38px;
        height: auto;
    }

    .contactNumberContainer {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-right: 10px;
    }

    .emailContainer{
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .contactsContainer {
        display: flex;
    }

    .socialsContainer {
        display: flex;
        padding: 10px;
    }

    .phoneIcon {
        margin-right: 5px;
    }

    .envelopeIcon {
        margin-right: 5px;
    }

    .socialsIconContainer {
        margin-left: 10px;
    }

    .socialsIcon {
        margin: 5px;
    }

    .socialsIcon path {
        fill: #FFFFFF;
    }
    .actionsContainer{
        flex-grow: 1;
        margin-left: 40px;
        justify-content: space-between;
    }
}