.bannerContainer{
    background-image: url('/assets/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 112px 28px;
    background-position: center;
}

.button{
    background-color: #23A6F0 !important;
    padding: 15px 40px !important;
}

.subTitle {
    margin-bottom: 30px !important;
}

.title {
    margin-bottom: 30px !important;
}

.price {
    margin-bottom: 30px !important;
}

.content {
    margin-bottom: 30px !important;
}

@media screen and (min-width: 1440px) {
    .bannerContainer{
        padding: 0px;
    }
    .contentContainer{
        width: 571px;
        padding: 136px 0px;
        margin: auto;
    }
}