.sponsorsContainer {
    padding: 50px 82px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    background-color: #FAFAFA;
}

.sponsorsContainer :global(svg) {
    width: 150px;
    margin: auto;
    margin-bottom: 60px;
    padding-right: 5px;
}

@media screen and (min-width: 1440px){
    .sponsorsContainer{
        padding: 50px 0px;
        width: 1054px;
        margin: auto;
    }

    .sponsorsContainer :global(svg) {
        width: 100px;
        margin: auto;
        margin-bottom: 60px;
        padding-right: 5px;
    }
}